*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0C8948;

  font-family: 'Pretendard', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}